---
layout: default
title: Home
---

<img src="/public/picture.jpg" alt="color photo ftl" width="100%" height="auto" />

<p>
  Welcome to my personal piece of internet, in which I share some stuff about the research works I'm doing and my favorite topics.
</p>

<p> My name is Mojtaba (aka Moji), and I'm very nerdy and enthusiastic about computing and the computational world.
   I live currently in Eindhoven, the Netherlands, and work as a PostDoc researcher at TU/e 
   in the field of computational chemical engineering. Before joining TU/e, I did my PhD in computational biomedical engineering at 
   KU Leuven, Belgium.
</p>

<p>
  If you are interested in computer simulations and computational modeling, in addition to the materials that you will find in this website, you may have
   a look at <a target="_blank" href="http://tuxriders.com/">TuxRiders</a>, a personal project
   I started to share mathematical and computational modeling experiences. 
</p>


<!-- <div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->