/* Basic styles
*
* There are basic styles for body.
*/
body {
  background-color: #eee;
}
.transition-animation {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* Ul styles */
ul.icon-effect {
  list-style: none;
}
ul.icon-effect > li {
  display: inline;
  margin-right: 0 auto;
}
/*
* Icon styles
*
* There are styles for icon and everything which are connected with it.
*/
.icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  color: #f1f1f1;
  line-height: 52px;
  text-align: center;
  background-color: #3b768f;
}
.icon:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
}
/* Hover effect */
.icon-effect .icon {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.icon-effect .icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #f1f1f1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
.icon-effect-1a .icon:hover {
  background-color: #f1f1f1;
  z-index: 10;
  color: #094e6b;
}
.icon-effect-1a .icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}